@model IEnumerable<DemoBlog.DataAccess.ViewModel.CommentList>
@if (Model != null && Model.ToList().Count > 0)
{
    <h4>Comments</h4>
    <hr />
}
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            @item.UserName said <span style="font-style:italic; font-weight:bold; font-family:Arial">'@item.Comment'</span>
        </div>
    </div>
}
